#app3{

}
#app3 .square{
    border: 1px solid red;
    margin-left: 20%;
    margin-top: 20%;
    width: 10vh;
    height: 10vh;
    transition: transform 1s;
}
#app3 .active{
    transform: translateX(10vh);
}